#main {
  width: 100%;
  height: 100%;
}

#main__navbar {
  background-color: var(--primary-color);
  color: var(--text-light-color);
  z-index: 2;
  box-shadow: 5px 0px 5px gray;
}

.main__navbar_header {
  text-align: justify;
  text-transform: capitalize;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  color: var(--text-light-color);
  gap: 1rem;
}

.main__navbar_header div {
  font-size: 4rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.main__navbar_header i {
  color: var(--secondary-hover-color);
}

.main__navbar_header img {
  height: 45px;
}

.main__navbar_body {
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main__navbar_tail {
  display: flex;
  font-size: clamp(2rem, 2vw, 3rem);
  gap: 1.5rem;
  justify-content: end;
  width: 100%;
  padding: 2rem 2rem;
}

.main__navbar_tail a {
  text-decoration: none;
  color: var(--text-light-color);
  cursor: pointer;
  font-size: 4rem;
  transition:
    color 0.1s ease-in-out,
    transform 0.1s ease-in-out;
}

.main__navbar_tail a:hover {
  color: var(--text-light-color);
  transform: translateY(-1px);
}

#main__content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
}

#main__content__background {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: var(--text-light-color);
  opacity: 0.3;
}

.main__content__background_active {
  display: block;
  z-index: 1;
}

.main__content__background_deactive {
  display: none;
}

#main__content iframe {
  overflow-y: auto;
}

@media (min-width: 701px) {
  #main {
    display: grid;
    grid-template-columns: 250px 1fr;
  }
  #main__content__button {
    display: none;
  }
  .main__content__background_active {
    display: none;
  }
  .main__navbar_active {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
  }
  .main__navbar_deactive {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
  }
}

@media (max-width: 700px) {
  .main__navbar_deactive {
    display: none;
    grid-template-rows: min-content 1fr min-content;
  }
  #main {
    grid-template-columns: 1fr;
  }
  .main__navbar_active {
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 250px;
    animation: showIn 0.25s ease-in-out;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
  }
  #main__content__button {
    font-size: 2rem;
    margin: 2rem 2rem 0rem 2rem;
    padding: 0.5rem;
    background-color: var(--secondary-color);
    outline: none;
    border: none;
    border-radius: 5px;
    color: var(--text-light-color);
    cursor: pointer;
    position: fixed;
    right: 10px;
  }

  #main__content__button:hover {
    background-color: var(--secondary-hover-color);
  }
}

@keyframes showIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
